body,p,h1,h2,h3,h4{
    margin: 0;
} 
 
 ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }
 img{
     border: none;
     vertical-align: middle;
 }
 a{
     text-decoration: none;
     color: #3c3c3c;
 }
 i{
     font-style: normal;
 }
 input{
     margin: 0;
     padding: 0;
 }
 button{
     outline: none;
     border: none;
 }
 body{
    font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    background-color: #EAE8EB;
 }
 .layer{
     width: 1190px;
     margin: 0 auto;
 }
 .clearfix:after{
    content: "";
    display: block;
    clear: both;
 }
 .fl{
     float: left;
 }
 .fr{
     float: right;
 }
 .c4{
     color: #f40;
 }
.c5{
    color: #f50;
}
.c2{
    color: #f22e00;
}
.c6{
    color: #666;
}
.c7{
    color: #c7c7c7;
}
.c8{
    color: #ff0036;
}
/* .c9{
    color: #9c9c9c;
} */
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.mr7{
    margin-right: 7px;
}
.ml7{
    margin-left: 7px;
}
.mr5{
    margin-right: 5px;
}
